name: "bazel build"
  
on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BAZEL: bazelisk-linux-amd64
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel-${{ runner.os }}-build-${{ hashFiles('**/*.bzl', '**/*.bazel') }}
          restore-keys: |
            bazel-${{ runner.os }}-build-
      - name: Setup Bazel
        uses: bazelbuild/setup-bazelisk@v3 
      - name: Build
        run: bazel build //...
      - name: Test
        run: bazel test //...
